.navbar{
    --bs-navbar-padding-y: 1rem !important;
}
.navbar-brand{
    color: $main-color !important;
}

.bg-main{
  
    .c-color{
        color: $sub-color;
        background: $main-color;
        border-radius: 30px;
        text-decoration: none;
        padding: 5px 20px;
    }
    }
.mn{
    margin-top: 0.2rem !important;
}